/* botones anterior y siguiente */
.an_si{
     border-radius: 0;
}

.as{
   background-color: #212529;
    border-color: #212529;
    border-radius: 0; 
}

.as:hover{
     background-color: #B78832;
}
/*----------fin------------*/