*{
    margin: 0;
    padding: 0;
}
/*Cabeza de pagina*/
header{
    height: 200px;
    background: linear-gradient(to bottom right,#EA862A, white );
    display: flex;
    overflow: hidden;
}
/*Bloque-titulo-subtitulo-logo*/
.bloque-elementos{
    width: 100%;
    display: flex;
}

.titulo-logo{
    width: 50%;
    position: relative;
    left: 100px;
    top: 5px;
}

.titulo h1{
    width: 55%;
    font-size: 60px;
    font-style: italic;
    display: contents;
}

.logo img{
    width: 35%;
    margin: 5px 0px 0px 0px;
}

.subtitulo{
    width: 25%;
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
    position: relative;
    left: -15px;
    top: 130px;
    height: 50px;
}

.iconos{
    width: 25%;
    display: flex;
    height: 40px;
    margin-left: 20px;
}

.iconos img{
    width: 100%;
}

.portfolio-items article img {
    width: 100%;
}

.portfolio-item {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.portfolio-item img {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.portfolio-item .portfolio-desc {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    color: rgba(220, 220, 220);
}

.isotopeWrapper article {
    margin-bottom: 30px;
}

#portfolio img {
    width: 100%;
}

#portfolio article p {
    margin-bottom: 1.45em;
}

.fancybox-overlay {
    background: rgba(0, 0, 0, 0.64);
}

.portfolio-item:hover .portfolio-desc {
    padding-top: 20%;
    height: 100%;
    transition: all 200ms ease-in-out 0s;
    opacity: 1;
    background: rgba(61, 61, 61, 0.67);
}

.portfolio-item .portfolio-desc a {
    color: #fff;
    text-align: center;
    display: block;
}

    .portfolio-item .portfolio-desc a:hover {
        text-decoration: none;
    }

.portfolio-item .portfolio-desc .folio-info {
    top: -20px;
    padding: 30px;
    height: 0;
    opacity: 0;
    position: relative;
}

.portfolio-item:hover .folio-info {
    height: 100%;
    opacity: 1;
    transition: all 500ms ease-in-out 0s;
    top: 5px;
}

.portfolio-item .portfolio-desc .folio-info h5 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

.portfolio-item .portfolio-desc .folio-info p {
    color: #ffffff;
    font-size: 12px;
}